

<script src="../../../services/user.service.client.ts"></script>
<script src="../../../../../assignment/services/widget.service.server.js"></script>
<div *ngIf="widget !== undefined" [ngSwitch]="widget.widgetType">

  <div *ngSwitchCase="'HEADING'">
    <app-widget-header></app-widget-header>
  </div>

  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image></app-widget-image>
  </div>

  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube></app-widget-youtube>
  </div>

  <div *ngSwitchCase="'HTML'">
    <app-widget-youtube></app-widget-youtube>
  </div>
  <div *ngSwitchCase="'TEXT'">
    <app-widget-youtube></app-widget-youtube>
  </div>

</div>

<div *ngIf="widget === undefined" [ngSwitch]="widgetChosen">
  <div *ngSwitchCase="'HEADING'">
    <app-widget-header></app-widget-header>
  </div>
  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image></app-widget-image>
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube></app-widget-youtube>
  </div>
  <div *ngSwitchCase="'HTML'">
    <app-widget-youtube></app-widget-youtube>
  </div>
  <div *ngSwitchCase="'TEXT'">
    <app-widget-youtube></app-widget-youtube>
  </div>
</div>

