<!--<div *ngIf="errorFlag"-->
<!--class="alert alert-danger">-->
<!--{{errorMsg}}-->
<!--</div>-->

<script src="../register/register.component.ts"></script>
<body>
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="cl-text-white navbar-brand cl-text-bold">
        Profile
      </h1>
    </div>

    <div class="navibar-header">
      <a (click)="updateUser(user)" style="cursor:pointer" class="navbar-brand ml-auto">
        <i class="fas fa-check cl-text-white"></i>
      </a>
    </div>

  </div>
</nav>

<div class="container">

  <div class="form-group cl-text-bold">
    <label>Username</label>
    <input [(ngModel)]="user.username" name="username" type="text" class="form-control" placeholder="alice">
  </div>
  <div class="form-group cl-text-bold">
    <label>Email address</label>
    <input [(ngModel)]="user.email" name="username" type = "email" class="form-control" placeholder="abc@gmail.com">
  </div>
  <div class="form-group cl-text-bold">
    <label>First Name</label>
    <input [(ngModel)]="user.firstName" name="firstname" type="text" class="form-control" placeholder="Alice">
  </div>
  <div class="form-group cl-text-bold">
    <label>Last Name</label>
    <input [(ngModel)]="user.lastName" name="lastname" type="text" class="form-control" placeholder="Wander">
  </div>
  <button class="btn btn-primary btn-block"
          routerLink="../user/{{user._id}}/website">Websites
  </button>
  <button class="btn btn-danger  btn-block"
          (click)="logout()" routerLinkActive="active">Logout
  </button>
  <button class="btn btn-danger  btn-block"
          (click)="deleteUser()" routerLinkActive="active">Delete
  </button>

</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid justify-content-end">
    <a href="#" routerLink="/profile" class="navbar-brand cl-text-white cl-icon-padding">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>

</body>
