<script src="../../../services/website.service.client.ts"></script>
<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}
</div>
<div class="container">
  <h1>Login</h1>

  <form (ngSubmit)="login()" #f="ngForm">
    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
      </span>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
      </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">Login
    </button>
    <button class="btn btn-success btn-block"
            routerLink="/register"
            type="submit">Register
    </button>
    <a href="{{baseUrl}}/facebook/login" class="btn btn-primary btn-block"> <span class="fa fa-facebook"></span> Facebook </a>
  </form>
</div>
