<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget(widget)" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="/#">
      Widget Edit
    </a>
  </div>
</nav>

<div class="container-fluid">
  <!--<form>-->
    <div class="form-group">
      <label for="html-name">Name</label>
      <!--<input type="text" class="form-control" id="heading-name" placeholder="Name">-->
      <input [(ngModel)]="widget.name" type="text" class="form-control" id="html-name" placeholder="Name"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="html">HTML</label>
      <!--<input [(ngModel)]="widget.text" type="text" class="form-control" id="heading-text" placeholder="Text"-->
             <!--[ngModelOptions]="{standalone: true}">-->
      <!--<quill-editor [(ngModel)]="widget.text" id="html"-->
                    <!--[ngModelOptions]="{standalone: true}"></quill-editor>-->
      <quill-editor [(ngModel)]="widget.text" id="html"></quill-editor>
    </div>
  <!--</form>-->
  <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="/user/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
