<body>
<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page"
         class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey" href="#">
        New Page
      </h1>
    </div>
    <a (click)="createPage(page)" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>
<div class="container">
  <form class="cl-text-padding">
    <div class="form-group">
      <label>Name</label>
      <input [ngModel]="page?.name" name="name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input [ngModel]="page?.description" name="description" type="text" class="form-control" placeholder="Description">
    </div>
  </form>
</div>
<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{userId}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>

</body>
