<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" src="https://cdn3-www.cattime.com/assets/uploads/gallery/maine-coon-cats-and-kittens/maine-coon-cats-and-kittens-5.jpg">
</div>
<h2>This is a project created by Lulin Zhang for course webDev.</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/lulin-zhang-565411171/">My Linkedin</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
