<body>
<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink=".."
         class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Edit Page
      </h1>
    </div>
    <a (click)="updatePage(page)" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>

<div class="container cl-container-left-padding">
  <form class="cl-text-padding">
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="page.name" name="name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="page.description" name="description" type="text" class="form-control"
             placeholder="Description">
    </div>
    <a class="btn btn-danger  btn-block" (click)="deletePage()">Delete</a>
  </form>
</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user cl-text-blue"></span>
    </a>
  </div>
</nav>
</body>
