<body>
<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a [routerLink]="['../..']" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Widgets Edit
      </h1>
    </div>
    <a (click)="updateWidget()" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>
<div class="container">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="widget.name" name="name" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Text</label>
      <input [(ngModel)]="widget.text" name="text" type="text" class="form-control"
             placeholder="Us Senate Reaches Compromise on Emergency">
    </div>
    <div class="form-group">
      <label>Size</label>
      <input [(ngModel)]="widget.size" name="size" type="number" class="form-control" placeholder="3">
    </div>
  </form>
  <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{userId}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
</body>
