
<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="../" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Choose Widget
      </h1>
    </div>
  </div>
</nav>

<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a  routerLink="." (click)="createWidget('HEADING')"
         class="cl-text-blue">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a class="cl-text-blue">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['../', widgetId]" (click)="createWidget('HTML')"
        class="cl-text-blue">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="." (click)="createWidget('TEXT')"
        class="cl-text-blue">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a class="cl-text-blue">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a class="cl-text-blue">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['../', widgetId]" (click)="createWidget('IMAGE')"
         class="cl-text-blue">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a [routerLink]="['../', widgetId]" (click)="createWidget('YOUTUBE')" class="cl-text-blue">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a class="cl-text-blue">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a class="cl-text-blue">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{userId}}" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>


