<body>
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="row container-fluid">
    <div class="col-sm-4 d-none d-sm-block">
      <a routerLink="../" class="navbar-brand">
        <i class="fas fa-angle-left cl-text-white"></i>
      </a>
      <h1 class="cl-text-white navbar-brand cl-text-bold" href="#">
        Websites
      </h1>
      <a routerLink="./new" class="navbar-brand float-right cl-icon-padding">
        <i class="fas fa-plus cl-text-white"></i>
      </a>
    </div>
    <div class="row col-sm-8">
      <a routerLink="../" class="navbar-brand d-block d-sm-nonefloat-left">
        <i class="fas fa-angle-left cl-text-white"></i>
      </a>
      <h1 class="cl-text-white navbar-brand cl-text-bold float-left">
        New Website
      </h1>
      <a routerLink=".." (click)="newWebsite()"
         class="navbar-brand cl-text-white ml-auto">
        <i class="fas fa-check cl-text-white"></i>
      </a>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-sm-4 d-none d-sm-block ">
    <ul class="websites">
      <li *ngFor="let website of websites"
          class="list-group-item cl-list-item-borderless d-flex justify-content-between">
        <a routerLink="../{{website._id}}/page" class="cl-text-blue">{{website.name}}</a>
        <a routerLink="../{{website._id}}" class="cl-text-blue"><span class="fas fa-cog"></span></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-8">
    <form class="cl-text-padding">
      <div class="form-group cl-text-bold">
        <label for="website-name">Name</label>
        <input [(ngModel)]="newWebsiteName" name="name" type="text" id="website-name" class="form-control"
               placeholder="Name">
      </div>
      <div class="form-group cl-text-bold">
        <label for="description">Description</label>
        <textarea [(ngModel)]="newWebsiteDescription" name="description" id="description" class="form-control" rows="5"
                  placeholder="Description"></textarea>
      </div>
    </form>
  </div>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/user/{{userId}}" class="navbar-brand cl-icon-padding">
      <span class="fas fa-user cl-text-white"></span>
    </a>
  </div>
</nav>

</body>
