<div *ngIf="errorFlag"
     class="alert alert-danger text-center">
  {{errorMsg}}
</div>
<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a [routerLink]="['..']" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Widget Edit
      </h1>
    </div>
    <a (click)="updateWidget()" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>

<div class="container">
  <form>
  <div class="form-group" *ngIf="widget">
    <label for="image-name">Name</label>
    <input [(ngModel)]="widget.name"
           name="name"
           type="text"
           class="form-control"
           id="image-name"
           placeholder="name"/>
  </div>

  <div class="form-group" *ngIf="widget">
    <label for="image-text">Text</label>
    <input [(ngModel)]="widget.text"
           name="text"
           type="text"
           class="form-control"
           id="image-text"
           placeholder="Text"/>
  </div>

  <div class="form-group" *ngIf="widget">
    <label for="image-URL">URL</label>
    <input [(ngModel)]="widget.url"
           type="text"
           name="url"
           class="form-control"
           id="image-URL"
           placeholder="{{widget.url}}"
           ngModel required
           #url="ngModel"/>
  </div>

  <div class="form-group">
    <label for="image-width">Width</label>
    <input [(ngModel)]="widget.width"
           name="width"
           type="text"
           class="form-control"
           id="image-width"
           placeholder="100%"/>
  </div>
    <div class="form-group">
      <label for="exampleInputFile">Upload</label>
      <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"  id="exampleInputFile"/>
        <input  name="widgetId" value="{{wgid}}"   style="display: none"/>
        <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
        <input  name="pageId" value="{{pageId}}"   style="display: none"/>
        <input  name="userId" value="{{userId}}"   style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
        <br/>
      </form>
    </div>
  </form>
  <a class="btn btn-primary btn-block " [routerLink]="['/user/'+userId+'/website/'+websiteId+'/page/'+pageId+'/widget/'+wgid+'/flickr']">Search Image</a>
  <!--<button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Upload Image</button>-->
  <button class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</button>
</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
